@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My First CI/CD Experience</h1>
    <div class="card">
                <div class="card-body">
            <h5 class="card-title">Welcome to CI/CD</h5>
            <p class="card-text">This is a simple card component to demonstrate the layout.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Welcome to CI/CD</h5>
            <p class="card-text">This is a simple card component to demonstrate the layout.</p>
        </div>
    </div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
